
.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    padding: 5px;
    color: #ff0000;
    border: 1px solid #ff0000;
}
