.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 15px;

}

.dialogsItems {
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages .message {
    color: white;
}


